.articles-index, .outfits-index {
  /*background-color: grey;*/
  /*position: absolute;*/
  /*vertical-align: top;*/
  position: relative;
  display: block;
  width: 80vw;
  min-width: 650px;
  margin: 0px auto;
  top: 91px;
  /*left: 200px;*/
}
