.article-list-item {
  border-radius: 4px;
  /*color: #e6e6e6;*/
  padding: 5px 5px;
  margin-bottom: 5px;
  /*height: 50px;*/
  background-color: #d3f8d3;
  /*background-color: #134074;*/
}

.article-list-item:after {
  content: "";
  clear: both;
  display: block;
}

.list-item-title {
  width: 50%;
  float:left;
}

.list-item-description {
  display: block;
  clear:both;
  /*float: left;*/
}

.list-item-worn {
  /*display: inline-block;*/
  width: 50%;
  text-align: right;
  float: right;
}
