.article-detail {
  margin: 10px;
  margin-left: 0px;
  padding: 5px;
  min-height: 271px;
  width: 48%;
  background-color: lightblue;
  border-radius: 4px;
  overflow: scroll;
  font-size: 16px;
}

.detail-image {
  border-radius: 2px;
  float: right;
  margin: 5px;
  /* setting just width to keep picture scale */
  width: 50%;
}

.detail-text {
  padding: 5px;
}

.detail-content {
  margin: 5px;
}

.detail-empty {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-align: center;
}
