.create-article-index {
  background-color: white;
  height: 500px;
}
.create-article-list {
  display: flex;
  height: 400px;
}
.create-article-list input {
  padding: 5px;
  border: 1px solid pink;
}
.create-article-list label {
  font-size: 20px;
  /*border: 1px solid pink;*/
}
.dropdown-content {
  display: none;
  position: absolute;
  left: 90px;
  background-color: #f9f9f9;
  min-width: 160px;
}
.show {
  display: block;
  position: absolute;
  border: 1px solid black;
  background-color: #f9f9f9;
  min-width: 160px;
}
