.viewable-articles {
  /*border-top: 1px solid black;*/
  display: flex;
  justify-content: space-between;
  clear: right;
  max-height: 300px;
  border-bottom: none;
  /*border-bottom-right-radius: 3px;*/
  /*overflow: scroll;*/
}

.scroll-list {
  display: inline-block;
  border-bottom: none;
  margin: 10px;
  width: 50%;
  overflow: scroll;
  height: 281px;
  background-color: white;
  /*padding: 0px 5px 5px 5px;*/
  /*border: 1px solid black;*/
  border-bottom-left-radius: 3px;
}

.article-detail {
  /*position: absolute;*/
  display: inline-block;
  margin: 10px;
  margin-left: 0px;
  padding: 5px;
  min-height: 270px;
  width: 48%;
  /*max*/
  background-color: lightblue;
  /*border-bottom: 1px solid black;
  border: 1px solid black;*/
  border-radius: 4px;
  /*border-bottom-right-radius: 3px;*/
}

.article-detail img {
  /*margin: 5px;*/
}
