.navbar {
  position: fixed;
  display: inline-block;
  /*background-color: #011936;*/
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.navbar-logo {
  color: white;
  background-color: #7796CB;
  padding: 10px;
  font-size: 50px;
  font-family: 'Fredericka the Great';
}

.navbar-options {
  color: white;
  height: 70%;
  width: 165px;
  background-color: #134074;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  list-style: none;
  font-size: 20px;
  margin: 10px 10px;
  padding: 20px;
}

.navbar-item {
  padding: 5px;
}

.navbar-item:hover {
  cursor:pointer;
  color: yellow;
}
