.type-filter {
  background-color: white;
  border: 1px solid orange;
  min-height: 100px;
}
.filter-header {
  display: inline-block;
  border: 1px solid lightgreen;
}
.filter-options {
  display: inline-block;
  border: 1px solid red;
  float: right;
  width: 60%;
  min-width: 400px;
}

.isHidden {
  display: none;
}


#rain {
}
