.type-filter {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  min-height: 100px;
  min-width: 650px;
  margin-bottom: 20px;
}

.filter-header {
  display: flex;
  border-bottom: : 1px solid white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #206dc5;
  justify-content: space-between;
  color: white;
  border-bottom: 1px solid black;
}

.filter-header p {
  display: inline-block;
  font-size: 25px;
  padding: 10px;
  width: 150px;
}

.show-button {
  width: 150px;
  padding: 10px;
  text-align: right;
}

.filter-header button:hover {
  color: lightblue;
}

.filter-options {
  display: flex;
  justify-content: center;
  padding: 10px 10px 0px 10px;
  min-width: 400px;
}

.filter-apply {
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
  height: 20px;
  margin: auto auto;
  background-color: red;
  color: white;
}

.filter-title {
  width: 100%;
  font-size: 25px;
  text-align: center;
  border-bottom: 5px solid white;
}

.filter-title:hover {
  cursor: pointer;
  color: red;
}

.filter-selection {
  text-align: center;
  margin-top: 10px;
  width: 100%;
}


/* weather */

.weather-input input {
  width: 70%
}

.weather-input p {
  margin: auto 0px;
}

.weather-icon {
  width: 10px;
}

.filter-weather {
  background-color: #ccccff;
  border-radius: 4px;
  min-width: 150px;
}

.weather-input {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
}

.weather-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.weather-button {
  background-color: darkgrey;
  border-radius: 3px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  width: 90px;
}

.filter-colors {
  background-color: #ccccff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 450px;
  min-width: 200px;
}

.filter-colors label {
  display: inline-block;
  min-width: 80px;
}


/* forality */

.filter-formality {
  border-radius: 4px;
  background-color: #ccccff;
  margin: 0px 10px;
  min-width: 150px;
}

.formality-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.formality-button {
  background-color: darkgrey;
  text-align: center;
  width: 60px;
  height: 36px;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
}

.checked {
  background-color: white;
}

.isHidden {
  display: none;
}

.unselected {
  color: grey;
  font-weight:lighter;
}


/* color */

.color-checkbox {
  padding: 5px;
  width: 87px;
}

.color-checkbox span {
  display: inline-block;
  margin: 1px;
  margin-right: 5px;
  width: 15px;
  height: 15px;
  border: 3px;
  border-style: outset;
  border-color: white;
}

.color-checkbox.red span {
  background-color: red;
}

.color-checkbox.orange span {
  background-color: orange;
}

.color-checkbox.yellow span {
  background-color: yellow;
}

.color-checkbox.green span {
  background-color: green;
}

.color-checkbox.blue span {
  background-color: blue;
}

.color-checkbox.purple span {
  background-color: purple;
}

.color-checkbox.pink span {
  background-color: pink;
}

.color-checkbox.brown span {
  background-color: brown;
}

.color-checkbox.white span {
  background-color: white;
}

.color-checkbox.grey span {
  background-color: grey;
}

.color-checkbox.black span {
  background-color: black;
}

.color-checkbox.denim span {
  background-color: darkblue;
}

.color-checkbox.patterned span {
  background-color:black;
  background-image:
    radial-gradient(circle at 100% 150%, black 24%, white 25%, white 28%, black 29%, black 36%, white 36%, white 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, black 24%, white 25%, white 28%, black 29%, black 36%, white 36%, white 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, white 10%, black 11%, black 23%, white 24%, white 30%, black 31%, black 43%, white 44%, white 50%, black 51%, black 63%, white 64%, white 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, white 5%, black 6%, black 15%, white 16%, white 20%, black 21%, black 30%, white 31%, white 35%, black 36%, black 45%, white 46%, white 49%, transparent 50%, transparent),
    radial-gradient(circle at 0    50%, white 5%, black 6%, black 15%, white 16%, white 20%, black 21%, black 30%, white 31%, white 35%, black 36%, black 45%, white 46%, white 49%, transparent 50%, transparent);
}

.color-checkbox.unchecked span {
  background-color: #e6e6ff;
  border-style: inset;
  background: none;
}
