// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.logo {
  display: block;
  font-size: 70px;
  text-align: center;
  color: white;
  // padding: 10px;
  margin: 40px auto;
  // color: #5603AD;
  // text-shadow: 2px 1px 1px white;
}
.signup {
  border: 3px solid #93A3BC;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .8);
  color: #011936;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .signup-form {
    display: flex;
    flex-direction: column;
    .signup-labels {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
    }
  }
  .signup-submit {
    padding: 10px;
  }
  .signup-submit:hover {
    cursor: pointer;
  }
  .signup-input {
    border: 1px solid darkgrey;
    margin-left: 10px;
    padding: 5px 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, .8);
  }
  .signup-label {
    padding: 10px
  }
}
